@page "/exam"
@attribute [StreamRendering(true)]
@attribute [OutputCache(Duration = 10)]

@inject ExamApiClient ExamApi

<PageTitle>Exam</PageTitle>

<h1>Exam</h1>

<p>This component demonstrates showing data loaded from a backend API service.</p>

@if (exams == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ExamName</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var exam in exams)
            {
                <tr>
                    <td>@exam.ExamName</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private ExamItem[]? exams;

    protected override async Task OnInitializedAsync()
    {
        exams = await ExamApi.GetExamAsync();
    }
}
